body{
    background-color: blanchedalmond;
}

h1{
    font-size: 33px;
    color: #073EBD;
}
body h2{
    font-size: 45px;
    color: black;
}
div h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.big{
    font-size: 100px;
}
.big.small{
    color: aqua;
}
span{
    color: pink;
}